<template>
    <div class="">
        <h1 class="title-404">404</h1>
        <p class="text-404">Page does not exist! Unless you were looking for this error page!</p>
    </div>
</template>
<script>
export default {
    mounted() {
        // alert(404);
    },
}
</script>

<style scoped>
.title-404 {
  color: white;
  text-align:center;
  Letter-spacing: px;
  padding: 20px;
  font-size: 1000%;
  font-weight: bold
}
  
.text-404  {
  color: white;
  text-align:center;
  font-size:100%;
  position: relative;
  bottom: 100px;
}

</style>