<template>
<div>
    <addeditpost ref="addedit"></addeditpost>
</div>
</template>

<script>
import AddEditPost from "@/components/addedit-post"
export default {
  components: {
    'addeditpost': AddEditPost
  },
  data() {
    return {
    }
  },
  mounted() {
  },
  methods: {
  },

}
</script>