<template>
  <div class="container-fluid">
    <!-- <div class="row"> -->
        <div>
        <h3>Post List</h3>
         <b-button to="/add" class="float-right m-4" variant="danger">Add Post</b-button>
        </div>
        <b-table striped hover :items="PostList" :fields="fields">
            <template #cell(action)="row">
                <b-icon size="sm" icon="pencil-square" class="border rounded mr-1" @click.prevent="editpost(row.item, row.index, $event.target)"></b-icon>
                <b-icon size="sm" icon="trash" class="border rounded mr-1" @click.prevent="deletePost(row.item.id)"></b-icon>
            </template>
        </b-table>
    <!-- </div> -->
  </div>
</template>

<script>
  export default {
    data() {
      return {
        // Note 'isActive' is left out and will not appear in the rendered table
        fields: [
          {
            key: 'id',
            label: 'ID',
            sortable: true
          },
          {
            key: 'userId',
            label: 'User ID',
            sortable: true
          },
          {
            key: 'title',
            label: 'Title',
            sortable: true
          },
          {
            key: 'body',
            label: 'Body',
            sortable: false,
          },
          {
            key: 'action',
            label: 'Action',
            sortable: false,
          }
        ]
      }
    },
    created() {
      this.getPostList();
    },
    mounted() {
    },
    computed: {
        PostList() {
            if(this.$store.state.post_list.length){
              let data = this.$store.state.post_list;
              return data.reverse();
            }else{
                return [];
            }
        },
    },
    methods: {
        async getPostList() {
            const data = await this.axios
                .get('/posts')
                .then(response => {
                    let data = response.data;
                    this.$store.commit('update_post_list', data);
                    return true;
                })
                .catch(e => {
                    console.log('error',e)
                    return false;
                });
            return data;
        },
        editpost(post){
           if(post && post.id){
              this.$router.push('/edit/'+post.id);
           }
        },
        deletePost(id){
            this.$bvModal.msgBoxConfirm('Please confirm that you want to delete post.', {
                title: 'Please Confirm',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
           })
          .then(value => {
            if(id,value){
              this.confirmDelete(id);
              //  this.$store.commit('delete_post', index);
            }
          })
          .catch(err => {
            console.log('error', err)
          })
           
        },
        async confirmDelete(id){
            const data = await this.axios
                .delete('/posts/'+id)
                .then(response => {
                  if (response) {
                    this.getPostList();
                  }
                })
                .catch(e => {
                    console.log('error',e)
                    return false;
                });
            return data;
        },
    },
  }
</script>