<template>
    <div class="container">
        <h3>{{postID ? 'Edit' : 'Add'}} Post</h3>
        <b-form class="">
            <div class="col-xs-12">
                <b-form-group
                    id="input-group-1"
                    label="Title :"
                    label-for="input-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="title"
                    name="title"
                    v-validate="'required'"
                    placeholder="Enter Title"
                    ></b-form-input>
                </b-form-group>
                <span class="text-danger text-sm">{{ errors.first('title') }}</span>
            </div>
            
            <div class="col-xs-12">
                <b-form-group id="input-group-3" label="User :" label-for="input-3">
                    <b-form-select
                    id="input-3"
                    v-model="userId"
                    :options="users"
                    v-validate="'required'"
                    name="userId"
                    placeholder="Select User"
                    ></b-form-select>
                </b-form-group>
                <span class="text-danger text-sm">{{ errors.first('userId') }}</span>
            </div>
            
            <div class="col-xs-12">
                <b-form-textarea
                id="textarea"
                v-model="body"
                v-validate="'required'"
                name="body"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
                ></b-form-textarea>
                <span class="text-danger text-sm">{{ errors.first('body') }}</span>
            </div>
            
            <div class="col-xs-12 mt-4">
                <b-button class="mr-4" type="submit" variant="primary" @click.prevent="submitPost()">Submit</b-button>
                <b-button type="reset" variant="danger" @click.prevent="onReset()">Reset</b-button>
            </div>
        </b-form>
    </div>
</template>

<script>
import { Validator } from "vee-validate";
export default {
  data() {
      return {
         title: null,
         userId: null,
         body: null,
         users: [1,2,3,4,5],
         postID: null,

      }
  },
  mounted() {
      if (this.$route.params.id) {
        this.getDetails(this.$route.params.id)
      }
    this.setValidationMessage();
  },
  methods: {
    async getDetails(id){
        const data = await this.axios
            .get('/posts/'+id)
            .then(response => {
                let data = response.data;
                this.postID = data.id;
                this.title = data.title;
                this.userId = data.userId;
                this.body = data.body;
            })
            .catch(e => {
                console.log('error',e)
                return false;
            });
        return data;
        
    },
    setValidationMessage() {
        let dict = {
            custom: {
                title: {
                    required: 'Please enter title',
                },
                userId: {
                    required: 'Please select user id',
                },
                body: {
                    required: 'Please enter body description',
                },
            }
        };
        Validator.localize("en", dict);
    },
    submitPost() {
      this.$validator.validate().then((res) => {
        if (res) {
            if(this.postID){
              this.updateDetails();
            }else{
                this.saveDetails();
            }
        }
      })
    },
    async saveDetails() {
        let input ={
            title: this.title,
            userId: this.userId,
            body: this.body,
        }
        // this.$store.commit('add_post', data);
            const data = await this.axios
                .post('/posts',JSON.stringify(input))
                .then(response => {
                    if(response){
                        return true;
                    }
                })
                .catch(e => {
                    console.log('error',e)
                    return false;
                });

            if(data){
                this.$router.push('/list');
            }
    },
    async updateDetails() {
        let input ={
            title: this.title,
            userId: this.userId,
            body: this.body,
        }
        const data = await this.axios
                .put('/posts/'+this.postID,JSON.stringify(input))
                .then(response => {
                    if(response){
                        return true;
                    }
                })
                .catch(e => {
                    console.log('error',e)
                    return false;
                });

        if(data){
            this.$router.push('/list');
        }
       
    },
    onReset() {

        // Reset our form values
        this.title= null;
        this.userId= null;
        this.body= null;
        if(this.$route.params.id){
            this.getDetails(this.$route.params.id)
        }
    }
  },
};
</script>

